:root{
    --text-color: #ffffff;
    --highlight-color: #fbf1c7;
    --purple: #b16286;
}

body
{
    background-color: #282828;
    color: white;
    margin: auto;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    padding: 16px;
    max-width: 800px;
    flex: 1
    
}

article
{
    margin: auto;
}
.topbar-text
{
    margin:0; 
    padding-top:10px; 
    vertical-align:middle;
}

.vertList
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 25px;
    overflow: hidden;
    background-color: #161b22;
}


ul 
{
    padding-left: 40px;
}
a
{
    color:#458588
}

footer
{
    text-align: center;
    margin-top: 30px;
}

.dot {
  height: 25px;
  width: 25px;
  background-image: url(https://avatars.githubusercontent.com/u/86256436?v=4);
  background-size: contain;
  border-radius: 50%;
  display: inline-block;
}

.desc {
    padding-left: 15px;
}

.projTitle
{
font-size: 15pt;
}

hr.dashed {
  border-top: 3px dotted #bbb;
}

#header
{
    text-align: center;
    color: var(--purple);
    font-size: 30pt;
    margin-top: 48px;
}

/* #topbar
{
    background-color: #161b22;
    width: 100%;
    height:50px;
    padding-left: 15px;
} */

#intro
{
    padding-top: 15px;
    text-align: center;
}

#project
{
    padding-top: 30px;
    padding-left: 15px;
    text-align: left;
    font-size: 20pt;
    color: var(--highlight-color)
}

#collegeProjs
{
   font-size: 12pt; 
}

#personalProjs
{
   font-size: 12pt; 
}

.frontpage-image-container{
    height: 200px;
    width: 100%;
    overflow: hidden;
    align-self: center;
    display: flex;
    justify-content: center;
}

.frontpage-image{
    margin-top: -120px;
    height: 500px;
    width: 800px;
    object-fit: cover;
}

#learning-list li
{
    padding-top: 5px;
}

#topbar{
    font-size: 16pt;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu {
    display: flex;
    align-items: center;
}

#menu a{
    font-weight: bold;
    margin: 0px 8px 0px 8px;
    text-decoration: none;
    color: var(--text-color);
}
#menu hr{
    height: 12pt;
}

.selected{
    color: var(--highlight-color) !important;
}

#sitename{
    font-weight: bold;
    color: var(--purple);
    font-size: 24pt;
}

#frontpage-list-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 16px 0 16px;
}

#frontpage-list{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
#frontpage-list a {
    padding: 0 16px 0 16px;
    text-decoration: none;
    font-size: 18pt;
    color: var(--highlight-color);
    font-weight: bold;
}

#contact-list li{
    margin: 0.75rem 0rem;
}